.container {
  position: absolute;
  left: -560px;
  display: flex;
  width: 2560px;
  height: 720px;
}

.left-image-container {
  overflow: hidden;
  transform: skew(-55deg);
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.left-image-container:hover {
  width: 200%;
}

.right-image-container {
  overflow: hidden;
  transform: skew(-55deg);
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.right-image-container:hover {
  width: 200%;
}

.left-image {
  position: absolute;
  width: 1280px;
  transform: skew(55deg);
  left: 600px;
}

.right-image {
  position: absolute;
  width: 1280px;
  transform: skew(55deg);
  right: 680px;
}
