* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  padding: 0.25em 0;
}

.container {
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
}

.banner {
  position: absolute;
  left: -560px;
  display: flex;
  width: 2560px;
  height: 720px;
}

.image-container {
  position: relative;
  overflow: hidden;
  transform: skew(-55deg);
  width: 100%;
  transition: width 0.4s ease-in-out;
}

.image-container.grow {
  width: 200%;
}

.image-container.full-width {
  width: 1200%;
}

.left-image {
  position: absolute;
  width: 1280px;
  transform: skew(55deg);
  left: 560px;
}

.right-image {
  position: absolute;
  width: 1280px;
  transform: skew(55deg);
  right: 720px;
}

.text-overlay {
  color: white;
  position: absolute;
  top: 240px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out, left 0.4s ease-in-out, right 0.4s ease-in-out;
  transform: skew(55deg);
}

.text-overlay.-left {
  left: 400px;
}

.text-overlay.-right {
  right: 800px;
}

.full-width .text-overlay.-left, .grow .text-overlay.-left {
  opacity: 1;
  left: 500px;
}

.full-width .text-overlay.-right, .grow .text-overlay.-right {
  opacity: 1;
  right: 900px;
}

.close-control {
  font-size: 1.2em;
  border: none;
  background: transparent;
  padding: 0;
  display: none;
  color: white;
  cursor: pointer;
  position: absolute;
  transform: skew(55deg);
}

.close-control.-left {
  left: 1324px;
  top: 10px;
}

.close-control.-right {
  right: 1220px;
  top: 10px;
}

.full-width .close-control.-left {
  display: block;
}

.full-width .close-control.-right {
  display: block;
}
